<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ROSESONLY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ROSESONLY.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="backup_path" serializeAs="String">
                <value>E:\rose</value>
            </setting>
            <setting name="left_margins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="top_margins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="b_width" serializeAs="String">
                <value>270</value>
            </setting>
            <setting name="b_high" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="show_name" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_price" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_barcode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="name_size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="price_size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="barcode_size" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="printer_name" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="font_name" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="open_number" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="connection_type" serializeAs="String">
                <value>Local Server</value>
            </setting>
            <setting name="server_name" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>DB_ROSES</value>
            </setting>
            <setting name="user_id" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>321</value>
            </setting>
            <setting name="company_name" serializeAs="String">
                <value>company name</value>
            </setting>
            <setting name="adress" serializeAs="String">
                <value>adress</value>
            </setting>
            <setting name="phone1" serializeAs="String">
                <value>01000645197</value>
            </setting>
            <setting name="phone2" serializeAs="String">
                <value>01158297542</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="mainaccount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="main_cashier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="main_store" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sales_printer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sales_paper" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sales_returnprinter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="sales_returnpaper" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pur_printer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pur_paper" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pur_returnprintre" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pur_returnpaper" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="invoice_notes" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="use_barcode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auto_add" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="repeate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="change_price" serializeAs="String">
                <value>False</value>
            </setting>
        </ROSESONLY.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
